.column1 {
  min-width: 200px;
  min-height: 200px;
  padding: 2px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
}

.column2 {
  min-width: 190px;
  min-height: 200px;
  padding: 2px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
}

.cell {
  padding: 2px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: #f0f0f0;
  min-width: 130px;
  min-height: 30px;
  display: block;
}

.block {
  padding: 5px;
  margin: 3px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: #d0d0d0;
  cursor: grab;
  display: block;
}

.question {
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: #e0e0e0;
  min-width: 30px;
  min-height: 10px;
  display: flex;
}

